[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MatrixEQTL"]
	path = MatrixEQTL
	url = https://github.com/andreyshabalin/matrixeqtl
	shallow = true
	registered = true
[submodule "shiftR"]
	path = shiftR
	url = https://github.com/andreyshabalin/shiftr
	shallow = true
	registered = true
[submodule "ramwas"]
	path = ramwas
	url = https://github.com/andreyshabalin/ramwas
	shallow = true
	registered = true
