[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MatrixEQTL"]
	path = MatrixEQTL
	url = https://github.com/andreyshabalin/matrixeqtl
[submodule "filematrix"]
	path = filematrix
	url = https://github.com/andreyshabalin/filematrix
[submodule "shiftR"]
	path = shiftR
	url = https://github.com/andreyshabalin/shiftr
